@Cred: red;
@C333: #333333;
// 适配icon的@2x.png和@3x.png
.bg-image(@url){
    background-image: ~"url('@{url}@2x.png')";
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
        background-image: ~"url('@{url}@3x.png')";
    }
  }